html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  color: var(--color-text-main);
  background-color: var(--color-background);
  font-family: var(--font-family--roboto-mono);
  font-size: var(--font-size--body-mob);

  @media screen and (min-width: 744px) {
    font-size: var(--font-size--body-tab);
  }
  @media screen and (min-width: 1440px) {
    font-size: var(--font-size--body-web);
  }
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

p {
  color: var(--color-text-desc);
  letter-spacing: -0.28px;
  font-weight: 400;

  @media screen and (min-width: 744px) {
    letter-spacing: -0.32px;
  }

  @media screen and (min-width: 1440px) {
    letter-spacing: -0.36px;
  }
}
