.svg {
  fill: #ffffff;
  transition: fill 0.2s ease-in-out;
}

.warning_input {
  border-color: var(--color-warning) !important;
}

.typed_input {
  border-color: var(--color-accent);
}

.show {
  display: flex;
}
