.title {
  font-family: var(--font-family--kanit-medium);
  font-size: var(--font-size--title-mob);

  @media screen and (min-width: 394px) {
    font-size: var(--font-size--title-tab);
  }
  @media screen and (min-width: 745px) {
    font-size: var(--font-size--title-web);
  }
}
