$roboto-font-path: "/fonts/Roboto_Mono";
$kanit-font-path: "/fonts/Kanit";

@font-face {
  src: url($roboto-font-path + "/RobotoMono-Regular.ttf") format("truetype");

  font-family: "Roboto Mono";
  font-weight: 400;
}

@font-face {
  src: url($kanit-font-path + "/Kanit-Regular.ttf") format("truetype");

  font-family: "Kanit Regular";
  font-weight: 400;
}

@font-face {
  src: url($kanit-font-path + "/Kanit-Medium.ttf") format("truetype");

  font-family: "Kanit Medium";
  font-weight: 500;
}
