@mixin container {
  margin-left: auto;
  margin-right: auto;

  padding-left: 24px;
  padding-right: 24px;

  max-width: 1440px;

  @media screen and (min-width: 1440px) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

@mixin section {
  padding-top: 65px;
  padding-bottom: 24px;

  @media screen and (min-width: 744px) {
    padding-top: 56px;
    padding-bottom: 90px;
  }

  @media screen and (min-width: 1440px) {
    padding-top: 126px;
    padding-bottom: 65px;
  }
}

@mixin sub-title {
  font-family: var(--font-family--kanit-medium);
  font-size: var(--font-size--subtitle-mob);
  line-height: 1.4;
  font-weight: 500;

  @media screen and (min-width: 744px) {
    font-size: var(--font-size--subtitle-tab);
  }

  @media screen and (min-width: 1440px) {
    font-size: var(--font-size--subtitle-web);
    line-height: normal;
    letter-spacing: -0.48px;
  }
}

@mixin paragraph {
  color: var(--color-text-desc);
  font-size: 14px;
  letter-spacing: -0.28px;
  font-weight: 400;

  @media screen and (min-width: 744px) {
    font-size: 16px;
    letter-spacing: -0.32px;
  }

  @media screen and (min-width: 1440px) {
    letter-spacing: -0.36px;
    font-size: 18px;
  }
}

@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 235px;
  height: 48px;

  color: var(--color-text-main);
  font-family: var(--font-family--roboto-mono);
  background-color: var(--color-button-default);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.32px;
  transition: background-color var(--main-animation);

  &:hover,
  &:focus {
    background-color: rgba(39, 42, 46, 0.9);
  }
}
