@mixin container {
  margin-left: auto;
  margin-right: auto;

  padding-left: 24px;
  padding-right: 24px;
  max-width: 1440px;

  @media screen and (min-width: 1440px) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

@mixin section {
  padding-top: 32px;
  padding-bottom: 88px;

  @media screen and (min-width: 744px) {
    padding-top: 56px;
    padding-bottom: 90px;
  }

  @media screen and (min-width: 1440px) {
    padding-top: 90px;
    padding-bottom: 65px;
  }
}

@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 235px;
  height: 48px;

  color: var(--color-text-main);
  font-family: var(--font-family--roboto-mono);
  background-color: var(--color-button-default);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.32px;
}
