:root {
  // colors
  --color-background: #060412;
  --color-text-main: #ffffff;
  --color-text-desc: #b3b3b3;
  --color-button-default: #272a2e;
  --color-table-bg-accent: #080b27;
  --color-icons-default: #ffffff;
  --color-input-text-def: #b3b3b3;
  --color-border-default: #ffffff;
  --color-accent: #204ffe;
  --color-warning: #eb3795;
  // fonts
  --font-family--kanit-regular: "Kanit Regular", sans-serif;
  --font-family--kanit-medium: "Kanit Medium", sans-serif;
  --font-family--roboto-mono: "Roboto Mono", monospace;
  --font-size--main-title-web: 340px;
  --font-size--main-title-tab: 280px;
  --font-size--main-title-mob: 120px;
  --font-size--title-web: 140px;
  --font-size--title-tab: 112px;
  --font-size--title-mob: 48px;
  --font-size--subtitle-web: 24px;
  --font-size--subtitle-tab: 20px;
  --font-size--subtitle-mob: 16px;
  --font-size--body-web: 18px;
  --font-size--body-tab: 16px;
  --font-size--body-mob: 14px;
  // motions
  --main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
