@import "../../sass/utils/mixins";

.hero {
  &_section {
    padding-top: 66px;
    padding-bottom: 127px;

    @media screen and (min-width: 744px) {
      padding-top: 87px;
      padding-bottom: 0px;
    }

    @media screen and (min-width: 1440px) {
      padding-top: 79px;
      padding-bottom: 16px;
    }
  }

  &_container {
    @include container;

    @media screen and (min-width: 1440px) {
      padding: 0;
      margin: 0;
    }
  }

  &_title_wrapper {
    overflow: hidden;
    white-space: nowrap;
    width: 100vw;

    @media screen and (max-width: 743px) {
      margin-top: 16px;
    }

    @media screen and (min-width: 1440px) {
      border-top: 1px solid var(--color-accent);
    }
  }

  &_title {
    display: inline-block;
    padding-left: 100vw;
    line-height: 1.25;
    font-weight: 500;
    text-transform: uppercase;
    font-family: var(--font-family--kanit-medium);
    font-size: var(--font-size--main-title-mob);

    @media screen and (min-width: 744px) {
      font-size: var(--font-size--main-title-tab);
    }

    @media screen and (min-width: 1440px) {
      font-size: var(--font-size--main-title-web);
    }

    animation: marquee 15s infinite linear;
  }

  @-webkit-keyframes marquee {
    0% {
      -webkit-transform: translate(0, 0);
    }
    100% {
      -webkit-transform: translate(-100%, 0);
    }
  }
  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

  &_wrapper {
    @media screen and (min-width: 1440px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      border-top: 1px solid var(--color-accent);
    }
  }

  &_img_box {
    display: flex;
  }

  &_image {
    width: 163.5px;
    height: 311px;
    border-right: 1px solid var(--color-accent);

    &:nth-child(1) {
      border-left: 1px solid var(--color-accent);
    }

    @media screen and (max-width: 1439px) {
      border-top: 1px solid var(--color-accent);
      border-bottom: 1px solid var(--color-accent);
    }

    @media screen and (min-width: 1440px) {
      width: 233px;
    }
  }

  &_description {
    color: var(--color-text-main);

    @media screen and (min-width: 1440px) {
      width: 640px;
      height: 96px;
    }

    &_box {
      margin-top: 15px;

      @media screen and (min-width: 744px) {
        margin-top: 13px;
      }

      @media screen and (min-width: 1440px) {
        order: -1;

        padding-top: 159px;
        padding-left: 24px;
        padding-right: 70px;
        margin-top: 0;
      }
    }
  }
}
