@import "../../sass/utils/mixins";

@keyframes arrow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}

@keyframes zoom {
  5% {
    opacity: 1;
  }

  100% {
    scale: 50;
  }
}

@keyframes display {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.section {
  height: 810px;
}

.animation {
  @media screen and (max-width: 1439px) {
    display: none;
  }
  position: relative;
  display: none;

  justify-content: center;
  padding-top: 92px;
  height: 810px;
  overflow: hidden;

  :nth-child(3) {
    animation-delay: 1700ms;
  }

  :nth-child(4) {
    animation-delay: 200ms;
  }

  :nth-child(5) {
    animation-delay: 400ms;
  }

  :nth-child(6) {
    animation-delay: 600ms;
  }

  :nth-child(7) {
    animation-delay: 800ms;
  }

  :nth-child(8) {
    animation-delay: 1100ms;
  }

  &_back {
    position: absolute;
    left: 0;
    top: 100px;

    width: 100%;
    height: 916px;

    border-radius: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    background-color: #10147e;
    box-shadow: inset 9px 83px 300px 100px rgb(6, 4, 18);
  }

  &_big_ellipse {
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    width: 994px;
    height: 617px;

    text-transform: uppercase;
    font-weight: 400;
    border-radius: 50%;
    border: 2px solid var(--color-accent);
    opacity: 0;

    animation: display 3s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
  }

  &_sub_title {
    margin-top: auto;
    font-family: var(--font-family--swiss);
    font-size: 24px;
    line-height: 1.4;
  }

  &_title {
    margin-bottom: auto;
    font-family: var(--font-family--swiss-medium);
    font-size: 64px;
    line-height: 1.25;
  }

  &_ellipse {
    position: absolute;
    top: 370px;
    width: 100px;
    height: 60px;

    border-radius: 50%;
    border: 1px solid var(--color-accent);
    z-index: 2;
    opacity: 0;

    animation: zoom 8s;
  }

  &_ellipse_vertical {
    width: 60px;
    height: 100px;
    top: 350px;
  }

  &_pointer {
    z-index: 2;
    position: absolute;
    bottom: 40px;
    right: 120px;

    width: 90px;
    height: 90px;

    border: 1px solid;
    border-radius: 50%;
    opacity: 0;

    animation: display 3s;
    animation-delay: 4s;
    animation-fill-mode: forwards;

    &_arrow {
      position: absolute;
      left: 35px;
      width: 20px;
      height: 20px;

      border-bottom: 1px solid;
      border-right: 1px solid;

      transform: rotate(45deg);
      animation: arrow 2s linear infinite;
    }

    :nth-child(1) {
      top: 20px;
    }
    :nth-child(2) {
      top: 30px;
      animation-delay: 500ms;
    }
    :nth-child(3) {
      top: 40px;
      animation-delay: 1000ms;
    }
  }
}
