@import "../../sass//utils/mixins";

.title {
  @include container;

  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: var(--font-family--kanit-regular);
  font-size: var(--font-size--title-mob);
  font-weight: 400;

  @media screen and (min-width: 744px) {
    font-size: var(--font-size--title-tab);
  }
  @media screen and (min-width: 1440px) {
    font-size: var(--font-size--title-web);
  }

  &-box {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--color-border-default);
  }
}
