@import "../../sass//utils/mixins";

.features {
  @include container;
  @include section;

  //   &__about {
  //     &-title {
  //       @media screen and (min-width: 1440px) {
  //       }
  //     }
  //   }

  &__item {
    &-title {
      :first-child {
        margin-right: 16px;
      }

      @media screen and (min-width: 1440px) {
        line-height: 1.4 !important;
        letter-spacing: normal !important;
      }
    }
  }
}
