@import "../../sass/utils/mixins";

.features {
  @include container;
  @include section;

  &__item {
    &-title {
      :first-child {
        margin-right: 16px;
      }

      @media screen and (min-width: 1440px) {
        line-height: 1.4 !important;
        letter-spacing: normal !important;
      }
    }
  }

  &-btn {
    @include button;
    width: 297px; // 100%
    gap: 6px;

    font-size: 16px;
    letter-spacing: 0.32px;
    text-transform: uppercase;

    @media screen and (min-width: 744px) {
      gap: 7px;
      width: 195px; // 100%
    }
    @media screen and (min-width: 1440px) {
      gap: 6.2px;
      width: 309px; // 100%
    }
  }
}
