.footer {
  border-top: 1px solid var(--color-accent);

  &_container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    height: 134px;

    @media screen and (min-width: 744px) {
      display: flex;
      height: 100px;
    }
  }

  &_item {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  &_socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: 56px;

    @media screen and (min-width: 744px) {
      gap: 24px;
      flex-basis: 50%;
      height: 100%;
    }

    @media screen and (min-width: 1440px) {
      gap: 40px;
      border-left: 1px solid var(--color-accent);
      border-right: 1px solid var(--color-accent);
      flex-basis: 33.33%;
      margin-left: 0;
    }

    &_item {
      width: 32px;
      height: 32px;

      &:hover,
      &:focus {
        svg {
          fill: var(--color-accent);
        }
      }
    }
  }

  &_company_info {
    position: relative;
    padding-top: 8px;
    text-align: center;

    @media screen and (min-width: 744px) {
      display: flex;
      flex-basis: 50%;
      order: -1;
      flex-wrap: wrap;
      gap: 2px;
      padding-top: 0px;
    }

    @media screen and (min-width: 1440px) {
      flex-basis: 33.33%;
    }
  }

  &_designed {
    align-self: flex-end;
    @media screen and (min-width: 1440px) {
      align-self: center;
    }
  }

  &_copyright {
    @media screen and (min-width: 1440px) {
      position: absolute;
      display: flex;
      left: 1100px;
      top: 38px;
      width: 270px;
    }
  }
}
