@import "../../sass//utils/mixins";

.nfts {
  @include container;

  padding-top: 32px;

  @media screen and (min-width: 1440px) {
    padding-top: 90px;
    padding-bottom: 65px;
  }

  &_section {
    @include section;

    @media screen and (min-width: 744px) {
      padding-top: 90px;
      padding-bottom: 0;
    }

    @media screen and (min-width: 1440px) {
      padding-top: 126px;
    }
  }

  &_grid {
    display: grid;
    align-items: center;
    background-color: yellow;
    color: black;

    &_header {
      display: contents;

      @media screen and (min-width: 744px) {
        & > div {
          @include sub-title;

          padding-left: 16px;
          padding-right: 16px;
        }
      }

      @media screen and (min-width: 1440px) {
        & > div {
          padding-left: 24px;
          padding-right: 24px;
        }
      }
    }

    &_body {
      display: contents;

      @media screen and (min-width: 744px) {
        & > div {
          padding-left: 24px;
          padding-right: 24px;
        }

        & > .nfts_grid_rarity_val {
          padding-left: 16px;
          padding-right: 16px;
        }

        & > .nfts_grid_image_box {
          padding: 0px;
        }
      }

      @media screen and (min-width: 1440px) {
        & > .nfts_grid_rarity_val {
          padding-left: 24px;
          padding-right: 24px;
        }
      }
    }

    @media screen and (min-width: 744px) {
      grid-template-columns: 64px 240px repeat(4, auto);
      grid-template-rows: 80px 80px;

      &_cur {
        display: none;
      }
    }

    @media screen and (min-width: 1440px) {
      grid-template-columns: 64px 449px repeat(4, auto);
      grid-template-rows: 60px 80px;
    }

    @media screen and (max-width: 743px) {
      grid-template-columns: 80px repeat(2, auto);
      grid-template-rows: repeat(3, auto);

      &_void,
      &_name,
      &_rarity_level,
      &_price {
        display: none;
      }

      &_rarity {
        background-color: wheat;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }

      &_total {
        background-color: tomato;
        grid-column: 2 / 3;
        grid-row: 3 / 4;
      }

      &_won {
        background-color: blueviolet;
        grid-column: 2 / 3;
        grid-row: 4 / 5;
      }

      &_image_box {
        grid-column: 1 / 2;
        grid-row: 2 / 5;
        width: 80px;
        height: 64px;
      }

      &_name_val {
        @include sub-title;

        background-color: turquoise;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        padding-bottom: 12px;
      }

      &_rarity_val {
        background-color: wheat;
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        text-align: end;
      }

      &_total_val {
        background-color: tomato;
        grid-column: 3 / 4;
        grid-row: 3 / 4;
        text-align: end;
      }

      &_won_val {
        background-color: blueviolet;
        grid-column: 3 / 4;
        grid-row: 4 / 5;
        text-align: end;
      }

      &_price_val {
        @include sub-title;

        background-color: turquoise;
        text-align: end;
        padding-bottom: 12px;
      }
    }
  }

  // &_table {
  //   border-collapse: collapse;
  //   width: 100%;

  //   thead {
  //     tr {
  //       height: 60px;
  //     }

  //     th {
  //       @include sub-title;

  //       padding: 12px 24px;
  //       text-align: left;
  //     }

  //     th:nth-child(1) {
  //       width: 64px;
  //     }

  //     @media screen and (min-width: 744px) and (max-width: 1239px) {
  //       tr {
  //         height: 80px;
  //       }

  //       th:nth-child(2) {
  //         width: 240px;
  //       }
  //     }
  //   }

  //   tbody {
  //     tr:nth-child(odd) {
  //       background-color: var(--color-table-bg-accent);
  //     }

  //     tr {
  //       height: 80px;
  //     }

  //     td {
  //       padding: 0px 24px;
  //       border-bottom: 1px solid var(--color-accent);

  //       @media screen and (min-width: 744px) {
  //         border-top: 1px solid var(--color-accent);
  //       }
  //     }
  //   }

  //   &_img {
  //     border-radius: 50%;
  //   }
  // }
}
